body{
    background-color: lightgoldenrodyellow;
}
em{
color: black;
font-weight: bolder;
}
strong{
color:navy
}
h1{
color: rgb(65, 32, 5);
}

h2,h6{
color: rgb(15, 94, 7);
}
p{
color: red;
}
table, td,th{
border: 2px solid black;

}
center{
font-size: larger;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.full{
color: blue;
}